# Treat all Python files as Python
*.py linguist-language=Python

# Treat other files as generated or documentation
*.md linguist-documentation
*.png linguist-generated
*.jpg linguist-generated
*.gif linguist-generated
LICENSE linguist-documentation

# Optional: force repo language to Python if all else fails
*.tex linguist-language=Python
